# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [4]:
# your code here
series = pd.Series(lst)

print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [5]:
# your code here
x = series[2]

print(x)

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [8]:
# your code here

df = pd.DataFrame(b)

print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [10]:
Colnames = ['Score_1','Score_2','Score_3','Score_4','Score_5']

In [11]:
df.columns = Colnames  
print(df)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [12]:
# your code here
df_sub = df[['Score_1', 'Score_3', 'Score_5']]

print(df_sub)

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [14]:
# your code here
avg_3 = df['Score_3'].mean()

print("Average:", avg_3)

Average: 56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [15]:
# your code here
max_4 = df['Score_4'].max()

# Print the result
print("Maximum:", max_4)

Maximum: 88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [16]:
# your code here
median_2 = df['Score_2'].median()

# Print the result
print("Median:", median_2)

Median: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [17]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [18]:
# your code here
df_orders = pd.DataFrame(orders)

print(df_orders)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [19]:
# your code here
quantity = df_orders['Quantity'].sum()
revenue = df_orders['Revenue'].sum()

print("Total Quantity:", quantity)
print("Total Revenue:", revenue)

Total Quantity: 2978
Total Revenue: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [20]:
# your code here
most = df_orders['UnitPrice'].max()
least = df_orders['UnitPrice'].min()

difference = most - least

print("Most Expensive Price:", most)
print("Least Expensive Price:", least)
print("Price Difference:", difference)

Most Expensive Price: 11.95
Least Expensive Price: 0.18
Price Difference: 11.77

## Let's load another dataset for more exercisesº

In [21]:
admissions = pd.read_csv('Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [22]:
# your code here
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [27]:
# your code here
na = admissions.isnull().sum()

print(na)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [29]:
# your code here
admissions.set_index('Serial No.', drop=False, inplace=True)
admissions

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [44]:
unique = admissions[['GRE Score', 'CGPA']].apply(tuple, axis=1).unique()

print(unique)

[(337.0, 9.65) (316.0, 8.0) (322.0, 8.67) (314.0, 8.21) (330.0, 9.34)
 (321.0, 8.2) (308.0, 7.9) (302.0, 8.0) (323.0, 8.6) (327.0, 9.0)
 (328.0, 9.1) (307.0, 8.0) (311.0, 8.2) (314.0, 8.3) (317.0, 8.7)
 (319.0, 8.0) (318.0, 8.8) (303.0, 8.5) (325.0, 8.4) (328.0, 9.5)
 (334.0, 9.7) (336.0, 9.8) (322.0, 8.8) (298.0, 7.5) (295.0, 7.2)
 (310.0, 7.3) (300.0, 8.1) (327.0, 8.3) (338.0, 9.4) (340.0, 9.6)
 (331.0, 9.8) (320.0, 9.2) (299.0, 8.4) (300.0, 7.8) (304.0, 7.5)
 (307.0, 7.7) (308.0, 8.0) (316.0, 8.2) (313.0, 8.5) (332.0, 9.1)
 (326.0, 9.4) (322.0, 9.1) (329.0, 9.3) (339.0, 9.7) (321.0, 8.85)
 (327.0, 8.4) (313.0, 8.3) (312.0, 7.9) (334.0, 8.0) (324.0, 8.1)
 (322.0, 8.0) (320.0, 7.7) (316.0, 7.4) (298.0, 7.6) (300.0, 6.8)
 (311.0, 8.3) (309.0, 8.1) (307.0, 8.2) (304.0, 8.2) (315.0, 8.5)
 (325.0, 8.7) (325.0, 8.92) (327.0, 9.02) (316.0, 8.64) (318.0, 9.22)
 (328.0, 9.16) (332.0, 9.64) (336.0, 9.76) (321.0, 9.45) (314.0, 9.04)
 (314.0, 8.9) (329.0, 8.56) (327.0, 8.72) (301.0, 8.22) (296.0, 7.54)
 (294.0, 7.36) (312.0, 8.02) (340.0, 9.5) (320.0, 9.22) (322.0, 9.36)
 (340.0, 9.45) (319.0, 8.66) (315.0, 8.42) (317.0, 8.28) (314.0, 8.14)
 (318.0, 7.92) (299.0, 7.66) (298.0, 8.03) (301.0, 7.88) (303.0, 7.66)
 (304.0, 7.84) (306.0, 8.0) (331.0, 8.96) (332.0, 9.24) (323.0, 8.88)
 (322.0, 8.46) (312.0, 8.12) (314.0, 8.25) (317.0, 8.47) (326.0, 9.05)
 (316.0, 8.78) (329.0, 9.18) (338.0, 9.46) (331.0, 9.38) (304.0, 8.64)
 (305.0, 8.48) (321.0, 8.68) (301.0, 8.34) (320.0, 8.56) (311.0, 8.45)
 (310.0, 9.04) (299.0, 8.62) (290.0, 7.46) (296.0, 7.28) (327.0, 8.84)
 (335.0, 9.56) (334.0, 9.48) (310.0, 8.36) (308.0, 8.22) (301.0, 8.47)
 (300.0, 8.66) (323.0, 9.32) (319.0, 8.71) (326.0, 9.1) (333.0, 9.35)
 (339.0, 9.76) (303.0, 8.65) (323.0, 8.78) (333.0, 9.28) (314.0, 8.77)
 (316.0, 8.16) (326.0, 9.08) (318.0, 9.12) (329.0, 9.15) (332.0, 9.36)
 (331.0, 9.44) (340.0, 9.92) (325.0, 8.96) (320.0, 8.64) (315.0, 8.48)
 (326.0, 9.11) (339.0, 9.8) (311.0, 8.26) (334.0, 9.43) (332.0, 9.28)
 (321.0, 9.06) (324.0, 8.75) (326.0, 8.89) (312.0, 8.69) (315.0, 8.34)
 (309.0, 8.26) (306.0, 8.14) (297.0, 7.9) (315.0, 7.86) (298.0, 7.46)
 (318.0, 8.5) (317.0, 8.56) (329.0, 9.01) (322.0, 8.97) (302.0, 8.33)
 (313.0, 8.27) (293.0, 7.8) (311.0, 7.98) (312.0, 8.04) (334.0, 9.07)
 (322.0, 9.13) (323.0, 9.23) (321.0, 8.97) (320.0, 8.87) (329.0, 9.16)
 (319.0, 9.04) (309.0, 8.12) (307.0, 8.27) (300.0, 8.16) (305.0, 8.42)
 (299.0, 7.88) (314.0, 8.8) (327.0, 9.11) (317.0, 8.68) (335.0, 9.44)
 (331.0, 9.36) (324.0, 9.16) (323.0, 8.98) (322.0, 8.94) (336.0, 9.53)
 (316.0, 8.76) (307.0, 8.52) (306.0, 8.26) (310.0, 8.33) (313.0, 8.69)
 (317.0, 8.54) (315.0, 8.46) (340.0, 9.91) (334.0, 9.87) (298.0, 8.54)
 (295.0, 7.65) (315.0, 7.89) (310.0, 8.02) (305.0, 8.16) (301.0, 8.12)
 (325.0, 9.06) (328.0, 9.14) (338.0, 9.66) (333.0, 9.78) (331.0, 9.42)
 (330.0, 9.36) (322.0, 9.26) (321.0, 9.13) (324.0, 8.97) (312.0, 8.42)
 (313.0, 8.75) (316.0, 8.56) (308.0, 8.45) (305.0, 8.23) (296.0, 8.03)
 (306.0, 8.45) (318.0, 8.67) (324.0, 9.01) (313.0, 8.65) (319.0, 8.33)
 (312.0, 8.27) (304.0, 8.07) (330.0, 9.31) (326.0, 9.23) (325.0, 9.17)
 (329.0, 9.19) (310.0, 8.37) (299.0, 7.89) (296.0, 7.68) (317.0, 8.15)
 (324.0, 8.76) (325.0, 9.04) (314.0, 8.56) (328.0, 9.02) (316.0, 8.73)
 (311.0, 8.48) (324.0, 8.87) (321.0, 8.83) (320.0, 8.57) (316.0, 9.0)
 (318.0, 8.54) (335.0, 9.68) (321.0, 9.12) (307.0, 8.37) (309.0, 8.56)
 (324.0, 8.64) (331.0, 9.34) (327.0, 9.13) (312.0, 8.09) (308.0, 8.36)
 (324.0, 8.79) (325.0, 8.76) (313.0, 8.68) (312.0, 8.45) (314.0, 8.17)
 (327.0, 9.14) (308.0, 8.34) (306.0, 8.22) (299.0, 7.86) (294.0, 7.64)
 (312.0, 8.01) (315.0, 7.95) (322.0, 8.96) (329.0, 9.45) (320.0, 8.62)
 (308.0, 8.49) (304.0, 8.73) (311.0, 8.64) (317.0, 9.11) (312.0, 8.79)
 (321.0, 8.9) (340.0, 9.66) (331.0, 9.26) (336.0, 9.19) (324.0, 9.08)
 (314.0, 9.02) (313.0, 9.0) (307.0, 7.65) (300.0, 7.87) (302.0, 7.97)
 (312.0, 8.18) (316.0, 8.32) (317.0, 8.57) (310.0, 8.67) (320.0, 9.11)
 (330.0, 9.24) (305.0, 8.65) (309.0, 8.0) (319.0, 8.76) (322.0, 8.45)
 (323.0, 8.55) (313.0, 8.43) (321.0, 8.8) (323.0, 9.1) (325.0, 9.0)
 (312.0, 8.53) (308.0, 8.6) (320.0, 8.74) (328.0, 9.18) (311.0, 9.0)
 (301.0, 8.04) (308.0, 8.07) (298.0, 7.86) (300.0, 8.01) (324.0, 8.8)
 (327.0, 8.69) (317.0, 8.5) (323.0, 8.44) (314.0, 8.27) (305.0, 8.18)
 (315.0, 8.33) (326.0, 9.14) (299.0, 8.02) (295.0, 7.86) (324.0, 8.77)
 (297.0, 7.89) (327.0, 8.66) (311.0, 8.12) (308.0, 8.21) (319.0, 8.54)
 (312.0, 8.65) (319.0, 8.79) (332.0, 9.47) (323.0, 8.74) (324.0, 8.66)
 (312.0, 8.46) (326.0, 8.76) (308.0, 8.24) (305.0, 8.13) (295.0, 7.34)
 (316.0, 7.43) (304.0, 7.64) (299.0, 7.34) (302.0, 7.25) (313.0, 8.04)
 (318.0, 8.27) (325.0, 8.67) (303.0, 8.06) (300.0, 8.17) (297.0, 7.67)
 (317.0, 8.12) (327.0, 8.77) (301.0, 7.89) (314.0, 7.64) (321.0, 8.44)
 (322.0, 8.64) (334.0, 9.54) (338.0, 9.23) (306.0, 8.36) (313.0, 8.9)
 (330.0, 9.17) (320.0, 8.34) (311.0, 7.46) (298.0, 7.88) (301.0, 8.03)
 (310.0, 8.24) (324.0, 9.22) (336.0, 9.62) (321.0, 8.54) (315.0, 7.65)
 (304.0, 7.66) (297.0, 7.43) (290.0, 7.56) (303.0, 7.65) (311.0, 8.43)
 (322.0, 8.84) (319.0, 8.67) (324.0, 9.15) (300.0, 8.26) (340.0, 9.74)
 (335.0, 9.82) (302.0, 7.96) (307.0, 8.1) (296.0, 7.8) (320.0, 8.44)
 (314.0, 8.24) (318.0, 8.65) (326.0, 9.12) (317.0, 8.76) (329.0, 9.23)
 (324.0, 9.04) (325.0, 9.11) (330.0, 9.45) (312.0, 8.78) (333.0, 9.66)]

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [31]:
# your code here
x = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

rows = x.shape[0]

print("Number of rows:", rows)

Number of rows 101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [39]:
# your code here
y = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

mean_y = y['Chance of Admit '].mean()

print("Mean Chance of Admit:", mean_y)

Mean Chance of Admit: 0.8019999999999999